<div class="row">
  <div class="col-sm-12">
    <h1 class="login_title" style="text-align:center;">CONFIRM EMAIL TO GET REWARDS</h1>
  </div>
</div>
<div class="row">
  <div class="co-12-sm">
    <h6 class="email">Email</h6>
    <%= form_for @user, :url => { :action => "create" } do |f| %>
    <h6 class="email"><%= f.text_field :email, :placeholder => "Enter Email", class:'email' %>
    </h6>
      <hr class="hr">
      <div class="submit">
        <%= f.submit class:"email"%>
      </div>
    <% end %>
  </div>
</div>



